.footer{
    background: #1A1A1A    ;
    img{
        width: 30px;
    }

    
    .footer-title{
        font-weight: 700;
        color: white;
        padding-bottom: 12px;
        font-size: 18px;
    }

    .footer-element{
        li{
            color: #A5A5A5;
            transition:  all .4s ease;
            &:hover{
            color: #FFB606;

            }
            
        }
    }
}